$primary: rgba(250, 40, 40, 0.98);
$secondary: rgba(255, 82, 82, 0.98);
$white: white;
$grey-air: #E5E5E5;
$grey-light: #C4C4C4;
$grey-middle: #988F8F;
$grey-dark: rgba(77, 71, 71, 0.98);
$grey-darker: #363232;
$black: black;
