@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin font-title--main {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.21em;
}

@mixin font-title--sub {
  color: $white;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

@mixin font-title-card {
  color: $white;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

@mixin font-subtitle {
  color: $grey-middle;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-regular {
  color: $grey-air;
  line-height: 16px;
}

@mixin font-description {
  color: $white;
  font-size: 16px;
  line-height: 20px;
}

@mixin font-link {
  font-size: 20px;
  line-height: 20px;
  color: $secondary;
}

@mixin font-checkbox {
  color: $grey-light;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1410px) {}

@media (min-width: 1680px) {}
