.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1410px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1680px) {
  .container {
    max-width: 1440px;
  }
}
