.app {

  &__title {
    background: $primary;
    @include font-title--main;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.28);
    padding: {
      top: 36px;
      bottom: 16px;
    };
  }
}

.home {

  &__subtitle {
    @include font-title--sub;
    margin: {
      top: 40px;
    };
  }

  &__filters {
    border-bottom: 1px solid $grey-light;
    padding: {
      bottom: 18px;
    };
    margin: {
      top: 18px;
    };

  }

  &__button {
    @include font-link;
    border: none;
    background: transparent;
    text-decoration: underline;
    outline: transparent;
    padding: 0 0 0 30px;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: transparent;
      height: 12px;
      width: 12px;
      transform: rotate(45deg);
      top: 4px;
      left: 3px;
      border: {
        bottom: 2px solid $secondary;
        left: 2px solid $secondary;
      };
    }

    &-wrapper {
      margin: {
        top: 42px;
      };
      padding: {
        bottom: 18px;
      };
      border-bottom: 1px solid $grey-light;
    }
  }

  &__movie {
    margin: {
      top: 52px;
    };
  }
}

.loader {
  position: absolute;
  left: 50%;
  margin-left: -68px;
  top: 265px;

  &__image {
    animation: animate-spin 1.2s infinite;
  }
}

.filters {
  display: flex;

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &-inner:not(:first-child) {
      margin: {
        top: 6px;
      };
    }

    &-label {
      @include font-checkbox;
    }

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        border: 1px solid $grey-light;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        margin: {
          right: 10px;
        };
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: border-box;
      }
    }

    &:checked + label::before {
      background-color: $secondary;
      border: 1px solid $secondary;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10'%3e%3cpath fill='white' d='M4.33317 9.16624L0.166504 4.99958L1.3415 3.82458L4.33317 6.80791L10.6582 0.48291L11.8332 1.66624L4.33317 9.16624Z'/%3e%3c/svg%3e");
    }
  }
}

.movie {
  background: $grey-dark;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: .3s;
  top: 0;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    top: -8px;
  }

  &-detail {
    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      top: 0;
    }
  }

  &__image {
    height: 168px;
    max-width: 100%;

    &-wrapper {
      background: $grey-light;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }

  &__text {
    padding: {
      top: 31px;
      right: 32px;
      bottom: 31px;
      left: 24px;
    };

    &-time {
      text-transform: uppercase;
      width: 130px;
      display: block;
      padding: {
        left: 14px;
      };
      font-size: 12px;
      line-height: 12px;
      font-weight: 700;
      box-sizing: border-box;

      &-wrapper {
        background: $grey-light;
        height: 30px;
        width: 180px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: -30px;

        &::before {
          position: absolute;
          content: '';
          display: block;
          left: -5px;
          height: 0;
          width: 0;
          border: {
            left: 5px solid transparent;
            right: 0 solid transparent;
            bottom: 30px solid $grey-light;
          };
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 28px;
          top: 6px;
          height: 18px;
          width: 16px;
          background-image: url("../assets/movie.svg");
          background-repeat: no-repeat;
        }
      }
    }

    &-title {
      @include font-title-card;
    }

    &-inner {
      margin: {
        top: 12px;
      };
    }

    &-year {
      @include font-subtitle;
    }

    &-genre {
      @include font-subtitle;

      &:not(:last-child)::after {
        display: inline;
        content: ', ';
      }
    }

    &-directors {
      margin: {
        top: 8px;
      };
    }

    &-director {
      @include font-subtitle;

      &:not(:last-child)::after {
        display: inline;
        content: ', ';
      }

      &-description {
        @include font-subtitle;
      }
    }

    &-actors {
      margin: {
        top: 10px;
      };
    }

    &-actor {
      @include font-regular;

      &:not(:last-child)::after {
        display: inline;
        content: ', ';
      }

      &-description {
        @include font-subtitle;
      }
    }

    &-description {
      @include font-description;
      margin: {
        top: 14px;
      };
    }
  }
}

.about {
  &__no-id {
    @include font-title--sub;
    margin: {
      top: 48px;
    };
  }
}
